.blog-wrapper {
  border: 2px solid grey;
  padding: 5px;
  margin: 5px;
  background: #f7f7f9;
}
.comment-wrapper {
  border: 1px solid grey;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
  background: #f7f7f9;

}
