<section class="clean-block clean-post dark">
  <div class="container" *ngIf=selectedPost>
    <div class="block-content">
      <div class="post-image" style="background-image:url(&quot;assets/img/scenery/image3.jpg&quot;);"></div>
      <div class="post-body">
        <h3>{{selectedPost.title}}</h3>
        <div class="post-info"><span>By {{selectedPost.author}}</span><span>{{selectedPost.publish_date}}</span></div>
        <p>{{selectedPost.description}}</p>
        <p [innerHTML]="selectedPost.content"></p>
        <div class="post-info float-right"><a routerLink="add-comment">Add Comment</a></div>

        <h4>Comments</h4>
        <div class="comment" *ngFor="let comment of blogPostsComments | orderBy:date">
          <div class="post-info"><span>By {{comment.user}}</span><span>{{comment.date}}</span></div>
          <p>{{comment.content}}</p>
        </div>
        
      </div>
    </div>
  </div>
</section>
