th,
td,
table {
  border: 2px solid grey;
  padding: 5px;
  font-size: 20px;
}

a {
  font-size: 14px;
  text-align: right;
}
.blog-wrapper {
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
  background: #f7f7f9;
}
