<section class="clean-block clean-blog-list dark">
  <div class="container">
      <div class="block-heading">
          <h2 class="text-info">Blog Post List</h2>
          <p>News</p>
      </div>
      <div class="block-content">
          <div class="clean-blog-post">
              <div class="row">
                  <div class="col-12 blog-padding" *ngFor="let post of blogPosts  | orderBy:publish_date">
                      <h3>{{post.title}}</h3>
                      <div class="info"><span class="text-muted">{{post.publish_date}} by <a href="#">{{post.author}}</a></span></div>
                      <p>{{post.description}}</p>
                      <a [routerLink]="['/blog-post', post.id]"><button class="btn btn-outline-primary btn-sm" type="button">Read More</button></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
